<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nykj.dataconversion.sys.mapper.LoginSupersiveInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nykj.dataconversion.sys.entity.LoginSupersiveInfo">
        <result column="id" property="id"/>
        <result column="org_code" property="orgCode"/>
        <result column="org_name" property="orgName"/>
        <result column="login_doc_code" property="loginDocCode"/>
        <result column="login_doc_name" property="loginDocName"/>
        <result column="login_time" property="loginTime"/>
        <result column="login_doc_photo" property="loginDocPhoto"/>
        <result column="created_last" property="createdLast"/>
        <result column="updated_last" property="updatedLast"/>
        <result column="data_from" property="dataFrom"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        org_code, org_name, login_doc_code, login_doc_name, login_time, login_doc_photo, created_last, updated_last, data_from
    </sql>

</mapper>
