<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nykj.dataconversion.sys.mapper.PrescriptionDrugMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nykj.dataconversion.sys.entity.PrescriptionDrug">
        <result column="id" property="id"/>
        <result column="pres_no" property="presNo"/>
        <result column="appr_drug_name" property="apprDrugName"/>
        <result column="drug_code" property="drugCode"/>
        <result column="drug_name" property="drugName"/>
        <result column="drug_type_code" property="drugTypeCode"/>
        <result column="drug_type_name" property="drugTypeName"/>
        <result column="drug_form" property="drugForm"/>
        <result column="drug_method" property="drugMethod"/>
        <result column="dosage" property="dosage"/>
        <result column="dosage_unit" property="dosageUnit"/>
        <result column="total_dosage" property="totalDosage"/>
        <result column="total_dosage_unit" property="totalDosageUnit"/>
        <result column="medicine_freq" property="medicineFreq"/>
        <result column="medicine_freq_name" property="medicineFreqName"/>
        <result column="standard_desc" property="standardDesc"/>
        <result column="single_price" property="singlePrice"/>
        <result column="drug_total_price" property="drugTotalPrice"/>
        <result column="comments" property="comments"/>
        <result column="anti_comments" property="antiComments"/>
        <result column="dec_meth_name" property="decMethName"/>
        <result column="total_charge" property="totalCharge"/>
        <result column="created_last" property="createdLast"/>
        <result column="updated_last" property="updatedLast"/>
        <result column="data_from" property="dataFrom"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        pres_no, appr_drug_name, drug_code, drug_name, drug_type_code, drug_type_name, drug_form, drug_method, dosage, dosage_unit, total_dosage, total_dosage_unit, medicine_freq, medicine_freq_name, standard_desc, single_price, drug_total_price, comments, anti_comments, dec_meth_name, total_charge, created_last, updated_last, data_from
    </sql>

</mapper>
